<html ng-app="helloApp">
<head>
  <title>HelloWorld</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script src="angular-confirm.min.js"></script>
  <script src="topicApplication.js"></script>
</head>
 
<body>
  <div class="page-header">
    <h1>Simple Topic CRUD</h1>
  </div>
  
  <div ng-controller="HelloCtrl" class="modal-demo">
  
  	<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Topic Information</h3>
        </div>
        <div class="modal-body" id="modal-body">

			<table>
	    		<tr>
	        		<td width="100"> ID: </td>
	        		<td><input type="text" id="id" ng-disabled="$ctrl.isUpdating" ng-model="$ctrl.topic.id" /></td>
	    		</tr>
	    		<tr>
	        		<td width="100">Name:</td>
	        		<td><input type="text" id="name" ng-model="$ctrl.topic.name" /></td>
	    		</tr>
	    		<tr>
	        		<td width="100">Description:</td>
	        		<td><input type="text" id="description" ng-model="$ctrl.topic.description" /></td>
	    		</tr>
			</table>
			
			</br>
			<div ng-show="$ctrl.topic">
            	Topic JSON: <b>{{ $ctrl.topic }}</b>
			</div>

			</br>
			<div ng-show="$ctrl.errorMessage">
				Message: <b>{{ $ctrl.errorMessage }}</b>
			</div>
            

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
    
    <script type="text/ng-template" id="alert.html">
       <div ng-transclude></div>
    </script>
    
	<div ng-show="errorMessage || message || topic">
	    <div uib-alert template-url="alert.html" style="background-color:#fa39c3;color:white">
	    	{{errorMessage}} {{message}} {{ topic }}
	    </div>
	</div>
    
 	<br/>
 		
	<button type="button" class='btn btn-default' ng-click="openModalDialog('POST')">Add a new Topic</button>

    <h2>Topic List </h2>
    
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <th scope="col">ID</th>
	      <th scope="col">Name</th>
	      <th scope="col">Description</th>
	      <th scope="col">Update topic information</th>
	      <th scope="col">Delete topic information</th>
	    </tr>
	  </thead>
	  <tbody>
		    <tr ng-repeat="itTopic in topics">
		      <th scope="row">{{itTopic.id}}</th>
		      <td>{{itTopic.name}}</td>
		      <td>{{itTopic.description}}</td>
		      <td>
		      	<button type="button" class='btn btn-default' ng-click="openModalDialog('UPDATE', itTopic)">Update Topic</button>
		      </td>	
		      <td>
		      	<button type="button" class='btn btn-default' confirm="Are you sure?" ng-click="deleteTopic(itTopic.id)" >Delete Topic</button>
		      </td>	
		    </tr>
	  </tbody>
	</table>    
  </div>
  
</body>
</html>